<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jangoe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Jangoe</h1>
    <h1>
        {% if user_name %}
            welcome, {{ user_name }}!
        {% else %}
            welcome!
        {% endif %}
    </h1>
    <img src="{% static 'sadsvitnebo.jpg' %}" alt="SadSvit - Небо" width="500">
    <br><br>
    <a href='/about'>About Me</a>
    <br>
    <a href='/fortune'>Get Your Fortune</a>
    <br>
    <a href='/songs'>Songs</a>
    <br>
</body>
</html>
